/* line 1, ../sass/main.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 9, ../sass/main.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 12, ../sass/main.sass */
body {
  line-height: 1;
}

/* line 15, ../sass/main.sass */
ol, ul {
  list-style: none;
}

/* line 18, ../sass/main.sass */
blockquote, q {
  quotes: none;
}

/* line 21, ../sass/main.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 25, ../sass/main.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 29, ../sass/main.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("../fonts/apercupro-bold-webfont-4df9d612a91b2b09ac55a0cd21a9bc1e.eot");
  src: url("../fonts/apercupro-bold-webfont-4df9d612a91b2b09ac55a0cd21a9bc1e.eot?#iefix") format("embedded-opentype"), url("../fonts/apercupro-bold-webfont-d4d54ea1692c705821d6dcd4c45910c4.woff") format("woff"), url("../fonts/apercupro-bold-webfont-b762b9b6bb6d2fda2a9549bb5228ab46.ttf") format("truetype"), url("../fonts/apercupro-bold-webfont-1fb2752d95c26b17dd8339f174aad691.svg#apercu_probold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* line 40, ../sass/main.sass */
html {
  height: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

/* line 45, ../sass/main.sass */
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #141414;
  color: #1a1a1a;
}

/* line 52, ../sass/main.sass */
form, body, input, select, textarea, img, div, ul, li, h1, h2, h3, h4, h5, p, a {
  margin: 0px;
  padding: 0px;
  outline: none;
}

/* line 57, ../sass/main.sass */
textarea {
  resize: none;
}

/* line 60, ../sass/main.sass */
a {
  text-decoration: none;
  color: #1a1a1a;
  -moz-transition-property: color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: color;
  -o-transition-duration: 0.3s;
  -ms-transition-property: color;
  -ms-transition-duration: 0.3s;
  transition-property: color;
  transition-duration: 0.3s;
}

/* line 74, ../sass/main.sass */
a:hover {
  color: #888888;
}

/* line 77, ../sass/main.sass */
img {
  border: 0px;
}

/* line 80, ../sass/main.sass */
input, textarea {
  outline: none;
}

/* line 83, ../sass/main.sass */
.left {
  float: left;
}

/* line 86, ../sass/main.sass */
.right {
  float: right;
}

/* line 89, ../sass/main.sass */
.overflow {
  overflow: hidden;
}

/* line 92, ../sass/main.sass */
.clear {
  clear: both;
}

/* line 95, ../sass/main.sass */
p {
  font-family: "PT Serif";
}

/* line 98, ../sass/main.sass */
header {
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  height: 80px;
}

/* line 105, ../sass/main.sass */
header .inner {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}

/* line 114, ../sass/main.sass */
header.force-top {
  top: 0px !important;
  -moz-transition-property: top;
  -moz-transition-duration: 0s;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0s;
  -o-transition-property: top;
  -o-transition-duration: 0s;
  -ms-transition-property: top;
  -ms-transition-duration: 0s;
  transition-property: top;
  transition-duration: 0s;
}

/* line 127, ../sass/main.sass */
.header-shadow {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 3px;
  -moz-transition-property: top;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: top;
  -o-transition-duration: 0.3s;
  -ms-transition-property: top;
  -ms-transition-duration: 0.3s;
  transition-property: top;
  transition-duration: 0.3s;
}

/* line 145, ../sass/main.sass */
.header-shadow div {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background-color: black;
  opacity: 0.1;
}

/* line 155, ../sass/main.sass */
.logo {
  width: 267px;
  height: 60px;
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 12px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

/* line 168, ../sass/main.sass */
.socials {
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  float: right;
}

/* line 176, ../sass/main.sass */
.search a {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/search-95bd7b963f8efbdb5faa19331491cb1d.png);
  background-image: none, url(../images/search-6a782f17311a4ba3f9bdf317fd484b80.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
}

/* line 197, ../sass/main.sass */
.search a:hover {
  opacity: 0.6;
}

/* line 201, ../sass/main.sass */
.menu {
  display: block;
  float: right;
}

/* line 206, ../sass/main.sass */
.menu a {
  margin-right: 50px;
  line-height: 80px;
  font-size: 16px;
  font-family: "Apercu Pro";
  font-weight: bold;
}

/* line 214, ../sass/main.sass */
.menu-link {
  position: absolute;
  right: 0px;
  top: 0px;
  display: none;
  width: 50px;
  height: 50px;
  background-image: url(../images/menu-2fcc5b177f005ac66114d8c1d59bfab8.png);
  background-size: 25px 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* line 227, ../sass/main.sass */
.main {
  position: relative;
  min-width: 320px;
  max-width: 1440px;
  overflow: hidden;
  background-color: #f3f3f3;
  width: 100%;
  min-height: 480px;
  margin: 0 auto;
  padding-bottom: 20px;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 1;
}

/* line 254, ../sass/main.sass */
.main .content {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  overflow: hidden;
  background-color: #f3f3f3;
  min-height: 480px;
  margin: 0 auto;
  padding-top: 40px;
}

/* line 264, ../sass/main.sass */
.main .content .news-list {
  font-size: 0;
}
/* line 266, ../sass/main.sass */
.main .content .news-list > div {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 40px;
}
/* line 270, ../sass/main.sass */
.main .content .news-list > div .inner {
  display: inline-block;
  padding: 0px 20px;
}
/* line 273, ../sass/main.sass */
.main .content .news-list > div .inner .block-img {
  height: 287px;
}
/* line 275, ../sass/main.sass */
.main .content .news-list > div .inner .block-cont {
  padding: 25px 0px;
  background: #fff;
}
/* line 278, ../sass/main.sass */
.main .content .news-list > div .inner .block-cont .block-dates {
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
  color: #3eb5f0;
  opacity: 1;
  line-height: 1em;
  margin-bottom: -10px;
}
/* line 286, ../sass/main.sass */
.main .content .news-list > div .inner .block-cont .block-title {
  font-family: "Arial";
  font-size: 21px;
  font-weight: bold;
  color: #000000 !important;
  text-transform: none;
  line-height: 1.2em;
  letter-spacing: 0px;
  margin-top: 12px;
}

/* line 296, ../sass/main.sass */
.main .content article {
  width: 33.333%;
  float: left;
  height: 480px;
  min-width: 320px;
  margin-bottom: 40px;
  margin-top: 80px;
  -moz-transition-property: margin-top;
  -moz-transition-duration: 0.7s;
  -webkit-transition-property: margin-top;
  -webkit-transition-duration: 0.7s;
  -o-transition-property: margin-top;
  -o-transition-duration: 0.7s;
  -ms-transition-property: margin-top;
  -ms-transition-duration: 0.7s;
  transition-property: margin-top;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

/* line 319, ../sass/main.sass */
.main .content article .inner {
  display: block;
  position: relative;
  margin: 0px 20px;
  height: 100%;
  background-color: black;
}

/* line 327, ../sass/main.sass */
.main .content article .inner:hover .block-dates {
  opacity: 1;
}

/* line 331, ../sass/main.sass */
.main .content article .inner:hover .block-content {
  background-color: transparent;
}

/* line 335, ../sass/main.sass */
.main .content article .inner:hover .block-title {
  color: white !important;
}

/* line 339, ../sass/main.sass */
.main .content article.shown {
  margin-top: 0px;
}

/* line 343, ../sass/main.sass */
.main .gallery .gallery-header {
  overflow: hidden;
}

/* line 347, ../sass/main.sass */
.main .gallery .gallery-header h1 {
  line-height: 40px;
  font-size: 40px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: white;
  margin-left: 18px;
  line-height: 120px;
  display: block;
  float: left;
  color: #1a1a1a;
}

/* line 360, ../sass/main.sass */
.main .gallery .gallery-header .nav-prev, .main .gallery .gallery-header .nav-next {
  display: block;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 40px;
  margin-right: 10px;
}

/* line 369, ../sass/main.sass */
.main .gallery .gallery-header .nav-prev {
  background-image: url(../images/prev-35bcea45cdca0d9eeb8b3d2b08bc0c56.png);
}

/* line 373, ../sass/main.sass */
.main .gallery .gallery-header .nav-next {
  background-image: url(../images/next-b6ca90e126dca65d6624a954f298a598.png);
  margin-right: 20px;
}

/* line 378, ../sass/main.sass */
.main .gallery .gallery-header a {
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
  opacity: 1;
}

/* line 392, ../sass/main.sass */
.main .gallery .gallery-header a:hover {
  opacity: 0.6;
}

/* line 396, ../sass/main.sass */
.main .gallery .content {
  padding-top: 0px;
  background-color: transparent;
}

/* line 401, ../sass/main.sass */
.main .gallery .content article {
  margin-bottom: 60px;
  height: 560px;
  width: 50%;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition-property: transform;
  -moz-transition-duration: 0.7s;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.7s;
  -o-transition-property: transform;
  -o-transition-duration: 0.7s;
  -ms-transition-property: transform;
  -ms-transition-duration: 0.7s;
  transition-property: transform;
  transition-duration: 0.7s;
}

/* line 422, ../sass/main.sass */
.main .gallery .content article.shown {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 430, ../sass/main.sass */
.main .gallery .block-content {
  background-color: #f3f3f3;
}

/* line 434, ../sass/main.sass */
.block-title {
  margin-top: 17px;
  margin-left: 24px;
  margin-right: 25px;
  line-height: 18px;
  font-size: 12px;
  font-family: "Apercu Pro";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1a1a1a;
  -moz-transition-property: color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: color;
  -o-transition-duration: 0.3s;
  -ms-transition-property: color;
  -ms-transition-duration: 0.3s;
  transition-property: color;
  transition-duration: 0.3s;
}

/* line 457, ../sass/main.sass */
.block-dates {
  opacity: 0;
  margin-left: 24px;
  margin-right: 25px;
  line-height: 18px;
  font-size: 12px;
  font-family: "Apercu Pro";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1a1a1a;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
}

/* line 480, ../sass/main.sass */
.block-dates span {
  display: inline-block;
  width: 35px;
  height: 1px;
  margin: 3px 6px;
  background-color: #1a1a1a;
}

/* line 488, ../sass/main.sass */
.block-name {
  margin-left: 24px;
  margin-right: 25px;
  position: absolute;
  bottom: 20px;
  left: 0px;
  line-height: 30px;
  font-size: 28px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: #1a1a1a;
}

/* line 501, ../sass/main.sass */
.block-name span {
  font-family: "PT Serif";
  font-weight: normal;
}

/* line 506, ../sass/main.sass */
.block-image, .block-content {
  position: absolute;
  left: 0px;
}

/* line 511, ../sass/main.sass */
.block-image {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: 0px;
  width: 100%;
  z-index: 0;
}

/* line 520, ../sass/main.sass */
.block-content {
  width: 100%;
  top: 0px;
  z-index: 1;
  background-color: white;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: background-color;
  -o-transition-duration: 0.3s;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.3s;
  transition-property: background-color;
  transition-duration: 0.3s;
}

/* line 537, ../sass/main.sass */
.hidden-feature {
  opacity: 0;
}

/* line 541, ../sass/main.sass */
.full-height .block-image {
  height: 100%;
}

/* line 545, ../sass/main.sass */
.full-height .block-image:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

/* line 556, ../sass/main.sass */
.full-height .block-content {
  height: 100%;
  background-color: transparent !important;
}

/* line 561, ../sass/main.sass */
.full-height .block-dates, .full-height .block-name {
  color: white;
}

/* line 565, ../sass/main.sass */
.full-height .block-dates span {
  background-color: white;
}

/* line 569, ../sass/main.sass */
.small-height .block-image {
  height: 40%;
}

/* line 573, ../sass/main.sass */
.small-height .block-content {
  height: 60%;
}

/* line 577, ../sass/main.sass */
.medium-height .block-image {
  height: 60%;
}

/* line 581, ../sass/main.sass */
.medium-height .block-content {
  height: 40%;
}

/* line 585, ../sass/main.sass */
.loadmore {
  display: block;
  width: 360px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #999999;
  text-align: center;
  color: white;
  line-height: 80px;
  font-size: 16px;
  font-family: "Apercu Pro";
  font-weight: bold;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: background-color;
  -o-transition-duration: 0.3s;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.3s;
  transition-property: background-color;
  transition-duration: 0.3s;
}

/* line 610, ../sass/main.sass */
.loadmore:hover {
  color: white;
  background-color: #141414;
}

/* line 615, ../sass/main.sass */
.feature {
  padding-top: 80px;
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  overflow: hidden;
}
/* line 622, ../sass/main.sass */
.feature .slick-slider {
  height: 100%;
}
/* line 624, ../sass/main.sass */
.feature.feature-news {
  height: auto;
}
/* line 626, ../sass/main.sass */
.feature.feature-news .wrap {
  background: rgba(0, 0, 0, 0.46);
}
/* line 628, ../sass/main.sass */
.feature.feature-news .wrap .inner {
  max-width: 1160px;
  padding: 60px 20px;
  margin: 0 auto;
}
/* line 632, ../sass/main.sass */
.feature.feature-news .wrap .inner .block-dates {
  color: #d82dca;
  font-family: "Arial";
  font-size: 72px;
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 10px;
  line-height: inherit;
  opacity: 1;
}
/* line 641, ../sass/main.sass */
.feature.feature-news .wrap .inner h1 {
  color: #ffffff;
  font-family: "Arial";
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
}

/* line 649, ../sass/main.sass */
.feature-left {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  height: 560px;
}

/* line 658, ../sass/main.sass */
.feature-left .block-title, .feature-left .block-dates {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
}

/* line 664, ../sass/main.sass */
.feature-left .features-left-list {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 1152px;
  height: 100%;
  -moz-transition-property: left;
  -moz-transition-duration: 0.9s;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.9s;
  -o-transition-property: left;
  -o-transition-duration: 0.9s;
  -ms-transition-property: left;
  -ms-transition-duration: 0.9s;
  transition-property: left;
  transition-duration: 0.9s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* line 687, ../sass/main.sass */
.feature-left .feature-left-picture {
  float: left;
  left: 0px;
  top: 0px;
  width: 576px;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

/* line 697, ../sass/main.sass */
.feature-left .feature-info {
  position: absolute;
  z-index: 2;
  bottom: 93px;
  left: 0px;
  width: 100%;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 709, ../sass/main.sass */
.feature-left .feature-info.hidden-feature {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 716, ../sass/main.sass */
.feature-left .block-dates {
  opacity: 1;
  color: white;
}

/* line 721, ../sass/main.sass */
.feature-left .block-dates span {
  background-color: white;
  margin: 6px 6px;
}

/* line 726, ../sass/main.sass */
.feature-right {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  height: 560px;
}

/* line 735, ../sass/main.sass */
.feature-right .feature-picture {
  position: relative;
  height: 380px;
  display: block;
  width: 100%;
  float: left;
}

/* line 743, ../sass/main.sass */
.feature-right .feature-picture .features-top-list {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 1728px;
  height: 100%;
  -moz-transition-property: left;
  -moz-transition-duration: 0.9s;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.9s;
  -o-transition-property: left;
  -o-transition-duration: 0.9s;
  -ms-transition-property: left;
  -ms-transition-duration: 0.9s;
  transition-property: left;
  transition-duration: 0.9s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* line 766, ../sass/main.sass */
.feature-right .feature-picture .feature-top-picture {
  float: left;
  left: 0px;
  top: 0px;
  width: 864px;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

/* line 776, ../sass/main.sass */
.feature-right .feature-description {
  position: relative;
  height: 180px;
  display: block;
  width: 100%;
  float: left;
}

/* line 784, ../sass/main.sass */
.feature-right .block-name {
  top: 20px;
  bottom: auto;
  font-size: 36px;
  line-height: 40px;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 795, ../sass/main.sass */
.feature-right .block-name.hidden-feature {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 802, ../sass/main.sass */
.feature-right a.block-name:hover {
  color: #1a1a1a;
}

/* line 806, ../sass/main.sass */
.feature-right nav {
  position: absolute;
  left: 30px;
  bottom: 25px;
}

/* line 812, ../sass/main.sass */
.feature-right a.dot {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  opacity: 1;
  background-color: #1a1a1a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
}

/* line 836, ../sass/main.sass */
.feature-right a.dot:hover {
  opacity: 0.6;
}

/* line 840, ../sass/main.sass */
.feature-right a.dot.on {
  opacity: 0.6;
}

/* line 844, ../sass/main.sass */
.feature-left, .feature-picture, .feature-description {
  opacity: 1;
  -moz-transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -o-transition-property: opacity;
  -o-transition-duration: 1s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 1s;
  transition-property: opacity;
  transition-duration: 1s;
}

/* line 858, ../sass/main.sass */
.feature-left {
  -webkit-transition-delay: 1.1s;
  -o-transition-delay: 1.1s;
  -moz-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

/* line 865, ../sass/main.sass */
.feature-picture {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

/* line 872, ../sass/main.sass */
.feature-description {
  -webkit-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  -moz-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

/* line 879, ../sass/main.sass */
.feature-info, .block-name {
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  transition-property: opacity;
  transition-duration: 0.5s;
}

/* line 892, ../sass/main.sass */
.gallery {
  width: 100%;
  background-color: white;
  margin: 20px auto;
}

/* line 898, ../sass/main.sass */
footer {
  background-color: #141414;
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* line 906, ../sass/main.sass */
footer .content {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
}

/* line 915, ../sass/main.sass */
footer .content article {
  width: 50%;
  float: left;
  min-width: 320px;
}

/* line 921, ../sass/main.sass */
footer .content article .inner {
  margin: 0px 20px;
  height: 100%;
}

/* line 926, ../sass/main.sass */
footer .content article .inner h1 {
  line-height: 40px;
  font-size: 40px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: white;
}

/* line 934, ../sass/main.sass */
footer .content article .inner p {
  line-height: 25px;
  font-size: 16px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: #999999;
}

/* line 942, ../sass/main.sass */
footer .content article .inner p a {
  color: white;
}

/* line 946, ../sass/main.sass */
footer .content article .inner p a:hover {
  color: #d1d1d1;
}

/* line 950, ../sass/main.sass */
footer .content article .inner .soc {
  opacity: 1;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/images/test/soc.png);
  margin-right: 10px;
  margin-top: 7px;
  float: left;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
}

/* line 971, ../sass/main.sass */
footer .content article .inner .soc:hover {
  opacity: 0.7;
}

/* line 975, ../sass/main.sass */
footer .content article .inner .facebook {
  background-image: url(../images/footer-fb-831707503f2e5e8b9be92fdc2d155e1e.png);
  background-image: none, url(../images/footer-fb-4abfd8dbe6440c5bd3453208e9829afc.svg);
}

/* line 980, ../sass/main.sass */
footer .content article .inner .vkontakte {
  background-image: url(../images/footer-vk-c90286a245715ba0fad5747450695d09.png);
  background-image: none, url(../images/footer-vk-4826eb31deedbbfdaef0adaf68f70c82.svg);
}

/* line 985, ../sass/main.sass */
.footer_1, .footer_2 {
  height: 410px;
}

/* line 989, ../sass/main.sass */
.footer_3, .footer_4 {
  height: 80px;
}

/* line 993, ../sass/main.sass */
.footer_1 h1 {
  margin-top: 67px;
  margin-bottom: 26px;
}

/* line 998, ../sass/main.sass */
.footer_2 p {
  margin-top: 133px;
}

/* line 1002, ../sass/main.sass */
.not-loaded {
  overflow: hidden;
}

/* line 1006, ../sass/main.sass */
.not-loaded header {
  top: -83px;
}

/* line 1010, ../sass/main.sass */
.not-loaded .main, .not-loaded .feature-left, .not-loaded .feature-picture, .not-loaded .feature-description {
  opacity: 0;
}

/* line 1014, ../sass/main.sass */
.nav-up {
  top: -83px;
}

/* line 1018, ../sass/main.sass */
header.absolute-header {
  position: absolute;
}

/* line 1022, ../sass/main.sass */
header.fixed-header {
  position: fixed;
  top: 0px !important;
}

/* line 1027, ../sass/main.sass */
header.black {
  background-color: #1a1a1a;
}

/* line 1031, ../sass/main.sass */
header.black .inner {
  background-color: #1a1a1a;
}

/* line 1035, ../sass/main.sass */
header.black .menu a {
  opacity: 1;
  color: white;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
}

/* line 1050, ../sass/main.sass */
header.black .menu a:hover {
  opacity: 0.6;
}

/* line 1054, ../sass/main.sass */
header.black .menu-link {
  background-image: url(../images/menu-white-c2524524f12f0903101810bc4febe8a5.png);
}

/* line 1058, ../sass/main.sass */
header.black .logo {
  background-image: url(../images/logo-white-28de5d1ba3e9b76239017e938753d477.png);
}

/* line 1062, ../sass/main.sass */
.show {
  padding-bottom: 0px;
}

/* line 1066, ../sass/main.sass */
.show .left, .show .right {
  padding-top: 80px;
}

/* line 1070, ../sass/main.sass */
.show .left {
  background-color: white;
  width: 67%;
  float: left;
}

/* line 1076, ../sass/main.sass */
.show .right {
  padding-top: 126px;
  position: relative;
  min-width: 320px;
  overflow: hidden;
  width: 33%;
}

/* line 1084, ../sass/main.sass */
.show .content {
  margin: 0 auto;
  width: 92%;
  max-width: 360px;
}

/* line 1090, ../sass/main.sass */
.show .content article {
  width: 100%;
}

/* line 1094, ../sass/main.sass */
.show .article {
  width: 90%;
  max-width: 800px;
  min-width: 280px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 67px;
}

/* line 1103, ../sass/main.sass */
.show .article .block-title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 16px;
  margin-left: 0px;
}

/* line 1110, ../sass/main.sass */
.show .article .block-name {
  display: block;
  position: relative;
  bottom: auto;
  left: auto;
  margin-left: 0px;
  margin-bottom: 33px;
  font-size: 49px;
  line-height: 49px;
}

/* line 1121, ../sass/main.sass */
.show .article .block-info {
  display: table;
  width: 100%;
  border-bottom: 0px;
  overflow: hidden;
}

/* line 1128, ../sass/main.sass */
.show .article .block-place, .show .article .block-dates {
  padding: 20px 20px;
  border: 2px solid #f3f3f3;
  border-bottom: 0px;
  opacity: 1;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  height: 88px;
}

/* line 1140, ../sass/main.sass */
.show .article .block-place {
  border-right: 1px solid #f3f3f3;
  line-height: 25px;
  font-size: 16px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: #1a1a1a;
}

/* line 1149, ../sass/main.sass */
.show .article .block-place span {
  font-family: "PT Serif";
  font-weight: normal;
}

/* line 1154, ../sass/main.sass */
.show .article .block-dates {
  border-left: 1px solid #f3f3f3;
  font-size: 16px;
}

/* line 1159, ../sass/main.sass */
.show .article .block-dates span {
  margin: 6px 6px;
}

/* line 1163, ../sass/main.sass */
.show .article .block-inner-image {
  position: relative;
  overflow: hidden;
}

/* line 1168, ../sass/main.sass */
.show .article .block-inner-image img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 1174, ../sass/main.sass */
.show .article .block-show-gallery {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.8);
  opacity: 0;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
}

/* line 1194, ../sass/main.sass */
.show .article .block-show-gallery .picture-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -88px;
  margin-top: -50px;
  width: 176px;
  height: 60px;
  padding-top: 66px;
  background-image: url(../images/photo-b6ce0db34b7fd097bd4d69fb96c95a6f.png);
  background-image: none, url(../images/photo-b854ba4f5217ecedaa95ea87d5f2f7fd.svg);
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: white;
  font-size: 12px;
  line-height: 52px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

/* line 1218, ../sass/main.sass */
.show .article .block-show-gallery:hover {
  opacity: 1;
}

/* line 1222, ../sass/main.sass */
.show .article .touch-gallery {
  opacity: 1 !important;
}

/* line 1226, ../sass/main.sass */
.show .article .block-text {
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 40px;
}

/* line 1232, ../sass/main.sass */
.show .article .block-text p:first-of-type {
  padding-top: 78px;
}

/* line 1236, ../sass/main.sass */
.show .article .block-text p {
  line-height: 30px;
  font-size: 20px;
  font-family: "PT Serif";
  font-weight: normal;
  color: #1a1a1a;
  margin-bottom: 30px;
}

/* line 1245, ../sass/main.sass */
.show .article .block-text p span {
  display: inline-block;
  float: left;
  margin-top: -78px;
  width: 160px;
  height: 160px;
  background-color: #1a1a1a;
  color: white;
  font-size: 140px;
  line-height: 155px;
  text-align: center;
  margin-right: 40px;
  margin-bottom: 36px;
}

/* line 1260, ../sass/main.sass */
.show .article .block-read-more {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 40px;
  padding-top: 35px;
  padding-bottom: 15px;
}

/* line 1269, ../sass/main.sass */
.show .article .block-read-more h2 {
  margin-left: 38px;
  margin-right: 38px;
  display: block;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 28px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: #1a1a1a;
}

/* line 1281, ../sass/main.sass */
.show .article .block-read-more p {
  line-height: 30px;
  font-size: 20px;
  font-family: "PT Serif";
  font-weight: normal;
  color: #1a1a1a;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

/* line 1293, ../sass/main.sass */
.show .article .block-read-more p a {
  font-weight: bold;
}

/* line 1297, ../sass/main.sass */
.show .article .blue {
  background-color: #e4effc;
}

/* line 1301, ../sass/main.sass */
.show .article .gray {
  background-color: #f3f3f3;
}

/* line 1305, ../sass/main.sass */
.show .article .block-shares {
  display: table;
  width: 100%;
  overflow: hidden;
  margin-bottom: 90px;
}

/* line 1312, ../sass/main.sass */
.show .article .block-shares a {
  border: 2px solid #f3f3f3;
  border-left: 0px;
  opacity: 1;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 25%;
  height: 66px;
  position: relative;
}

/* line 1324, ../sass/main.sass */
.show .article .block-shares a span {
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
}

/* line 1345, ../sass/main.sass */
.show .article .block-shares a span:hover {
  opacity: 0.7;
}

/* line 1349, ../sass/main.sass */
.show .article .block-shares a .facebook {
  background-image: url(../images/facebook-0f7dcba367e700f7cd29ea006b0ae1cc.png);
  background-image: none, url(../images/facebook-03a27d0706d8762b81a3accd003c1d35.svg);
}

/* line 1354, ../sass/main.sass */
.show .article .block-shares a .twitter {
  background-image: url(../images/twitter-8d64773bf9e201937cf568a158fd4900.png);
  background-image: none, url(../images/twitter-365dc40bdf381bf711f38e29b51e0f86.svg);
}

/* line 1359, ../sass/main.sass */
.show .article .block-shares a .vk {
  background-image: url(../images/vk-99f7dbdfb64e3d17562fb397b512f52a.png);
  background-image: none, url(../images/vk-ad066194f9f9bcb7a57e12b21955eeb5.svg);
}

/* line 1364, ../sass/main.sass */
.show .article .block-shares a .google {
  background-image: url(../images/google-38c31d6fe3b912683a81bc6efab0fd29.png);
  background-image: none, url(../images/google-ed5b19b134909f18251ce3f2ea3929aa.svg);
}

/* line 1369, ../sass/main.sass */
.show .article .block-shares a:first-of-type {
  border-left: 2px solid #f3f3f3;
}

/* line 1373, ../sass/main.sass */
.search-container {
  position: fixed;
  z-index: 99;
  top: -300px;
  width: 100%;
  height: 300px;
  -moz-transition-property: top;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: top;
  -o-transition-duration: 0.3s;
  -ms-transition-property: top;
  -ms-transition-duration: 0.3s;
  transition-property: top;
  transition-duration: 0.3s;
}

/* line 1391, ../sass/main.sass */
.search-container .inner {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #333333;
}

/* line 1401, ../sass/main.sass */
.search-container .inner form {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  overflow: hidden;
  width: 97%;
  margin: 0 auto;
  padding-top: 91px;
}

/* line 1411, ../sass/main.sass */
.search-container .inner form .wrap {
  padding: 0 20px;
  position: relative;
}

/* line 1416, ../sass/main.sass */
.search-container .inner form .wrap:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  width: 79px;
  height: 108px;
  background-image: url(../images/search-big-1e71fc5a2af02e9bf34492249aa469ca.png);
  background-image: none, url(../images/search-big-34a03f2773ad5a49757d4672cf93b51b.svg);
  background-position: 10px 29px;
  background-repeat: no-repeat;
}

/* line 1429, ../sass/main.sass */
.search-container .inner form .wrap:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 99px;
  width: 2px;
  height: 70px;
  background-color: #4d4d4d;
}

/* line 1440, ../sass/main.sass */
.search-container .inner form .wrap input {
  width: 100%;
  height: 108px;
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid #4d4d4d;
  font-size: 70px;
  line-height: 108px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 100px;
}

/* line 1457, ../sass/main.sass */
.open-search .header-shadow {
  top: 380px;
}

/* line 1461, ../sass/main.sass */
.open-search .search-container {
  top: 80px;
}

/* line 1465, ../sass/main.sass */
.open-search header {
  position: fixed !important;
  top: 0px !important;
}

/* line 1470, ../sass/main.sass */
.search-results {
  padding-top: 80px;
}

/* line 1474, ../sass/main.sass */
.search-results .content {
  padding-top: 0px;
}

/* line 1478, ../sass/main.sass */
.search-results .search-header {
  overflow: hidden;
}

/* line 1482, ../sass/main.sass */
.search-results .search-header h1 {
  line-height: 40px;
  font-size: 40px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: white;
  padding: 40px 0px;
  margin-left: 18px;
  display: block;
  float: left;
  color: #1a1a1a;
}

/* line 1495, ../sass/main.sass */
.popup {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #141414;
  overflow: hidden;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 1525, ../sass/main.sass */
.popup .close, .popup .prev, .popup .next {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 100000;
  background-size: 40px;
  background-repeat: no-repeat;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3;
  transition-property: opacity;
  transition-duration: 0.3;
}

/* line 1545, ../sass/main.sass */
.popup .close:hover, .popup .prev:hover, .popup .next:hover {
  opacity: 0.5;
}

/* line 1549, ../sass/main.sass */
.popup .prev, .popup .next {
  top: 50%;
  margin-top: -50px;
}

/* line 1554, ../sass/main.sass */
.popup .close {
  right: 10px;
  top: 10px;
  background-image: url(../images/popup-close-eb3f9ded08efb31be169499e5da2bafc.png);
  background-image: none, url(../images/popup-close-eca08b8ae3f8c0b3151b8d88c27c551e.svg);
}

/* line 1561, ../sass/main.sass */
.popup .prev {
  left: 10px;
  background-image: url(../images/popup-prev-f9c834c4b046b98f2ef0dc0649062f97.png);
  background-image: none, url(../images/popup-prev-f42268dc12a60d9c03ee6a061d0bc7d6.svg);
}

/* line 1567, ../sass/main.sass */
.popup .next {
  right: 10px;
  background-image: url(../images/popup-next-289960294df6e6f13230ae892144a840.png);
  background-image: none, url(../images/popup-next-1ffac624df4308c9505a03111dce8aa6.svg);
}

/* line 1573, ../sass/main.sass */
.popup .container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 1579, ../sass/main.sass */
.popup .container .image-container {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 120px;
  left: 0px;
  background-color: #222222;
}

/* line 1588, ../sass/main.sass */
.popup .container .image-container .project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5;
  transition-property: opacity;
  transition-duration: 0.5;
}

/* line 1607, ../sass/main.sass */
.popup .container .text-container {
  min-height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: auto;
  overflow: hidden;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5;
  transition-property: opacity;
  transition-duration: 0.5;
}

/* line 1627, ../sass/main.sass */
.popup .container .text-container .left {
  height: 100%;
  width: 50%;
  position: relative;
}

/* line 1633, ../sass/main.sass */
.popup .container .text-container .left .block-name {
  position: relative;
  bottom: auto;
  color: white;
  margin-top: 20px;
  margin-left: -3px;
}

/* line 1641, ../sass/main.sass */
.popup .container .text-container .left .block-description {
  line-height: 25px;
  font-size: 16px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: #999999;
  max-width: 580px;
  margin-top: 22px;
}

/* line 1651, ../sass/main.sass */
.popup .container .text-container .left .block-description .block-description-text {
  margin-bottom: 20px;
}

/* line 1655, ../sass/main.sass */
.popup .container .text-container .left .block-count {
  position: absolute;
  right: 20px;
  top: 22px;
  line-height: 25px;
  font-size: 16px;
  font-family: "Apercu Pro";
  font-weight: bold;
  color: #999999;
  color: white;
}

/* line 1667, ../sass/main.sass */
.open-popup {
  overflow: hidden;
}

/* line 1671, ../sass/main.sass */
.open-popup .popup {
  display: block;
  opacity: 1;
}

/* line 1675, ../sass/main.sass */
.contacts {
  font-size: 0;
  padding-top: 80px;
}
/* line 1678, ../sass/main.sass */
.contacts .block-left {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
/* line 1682, ../sass/main.sass */
.contacts .block-left .map {
  position: relative;
  width: 100%;
  height: 740px;
}
/* line 1686, ../sass/main.sass */
.contacts .block-right {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
/* line 1691, ../sass/main.sass */
.contacts .block-right .block-img img {
  width: 100%;
}
/* line 1693, ../sass/main.sass */
.contacts .block-right .text {
  padding: 50px;
}
/* line 1695, ../sass/main.sass */
.contacts .block-right .text div {
  margin-bottom: 30px;
}
/* line 1697, ../sass/main.sass */
.contacts .block-right .text h2 {
  color: #3eb5f0;
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14px;
}
/* line 1703, ../sass/main.sass */
.contacts .block-right .text p {
  color: #000;
  font-family: "Arial";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
}
/* line 1709, ../sass/main.sass */
.contacts .block-right .text a {
  color: #000;
  font-family: "Arial";
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1000px) {
  /* line 1718, ../sass/main.sass */
  .main .content {
    max-width: 800px;
  }

  /* line 1721, ../sass/main.sass */
  .main .content article {
    width: 50%;
  }

  /* line 1725, ../sass/main.sass */
  .main .content .news-list > div {
    width: 50%;
  }

  /* line 1731, ../sass/main.sass */
  .feature.feature-news .wrap .inner {
    max-width: 760px;
  }

  /* line 1733, ../sass/main.sass */
  .search-container .inner form {
    max-width: 800px;
  }

  /* line 1737, ../sass/main.sass */
  .show .left {
    width: 100%;
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    float: none;
  }

  /* line 1745, ../sass/main.sass */
  .show .right {
    width: 100%;
    max-width: 1000px;
    float: none;
    margin-top: 0px;
  }

  /* line 1752, ../sass/main.sass */
  .show .right .content {
    width: 100%;
  }

  /* line 1756, ../sass/main.sass */
  .show .right .content article {
    width: 50%;
  }

  /* line 1760, ../sass/main.sass */
  .tohide article:last-of-type {
    display: none;
  }

  /* line 1764, ../sass/main.sass */
  footer .content {
    max-width: 800px;
  }

  /* line 1768, ../sass/main.sass */
  .footer_1, .footer_2 {
    height: 610px;
  }
}
@media (max-width: 720px) {
  /* line 1774, ../sass/main.sass */
  header .logo {
    width: 124px;
    height: 28px;
    margin-top: 25px;
    margin-left: 25px;
  }
}
@media (max-width: 665px) {
  /* line 1783, ../sass/main.sass */
  .contacts {
    padding-top: 0px;
  }
  /* line 1785, ../sass/main.sass */
  .contacts .block-left {
    width: 100%;
  }
  /* line 1787, ../sass/main.sass */
  .contacts .block-right {
    width: 100%;
  }
  /* line 1789, ../sass/main.sass */
  .contacts .block-right .text {
    padding: 50px 95px;
  }

  /* line 1792, ../sass/main.sass */
  .nav-up {
    top: 0px;
  }

  /* line 1796, ../sass/main.sass */
  header {
    height: 50px;
    position: absolute !important;
    top: 0px !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  /* line 1803, ../sass/main.sass */
  header .header-shadow {
    display: none;
  }

  /* line 1807, ../sass/main.sass */
  header .menu {
    display: none;
  }

  /* line 1811, ../sass/main.sass */
  header .inner {
    height: 50px;
  }

  /* line 1815, ../sass/main.sass */
  header .search {
    display: none;
  }

  /* line 1819, ../sass/main.sass */
  header .logo {
    float: none;
    width: 75px;
    height: 17px;
    margin: 0 auto;
    margin-top: 17px;
  }

  /* line 1826, ../sass/main.sass */
  .socials {
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
    right: 0;
    top: 0;
  }
  /* line 1833, ../sass/main.sass */
  .socials img {
    height: 50px;
    width: 50px;
  }

  /* line 1837, ../sass/main.sass */
  .main {
    padding-top: 50px;
  }

  /* line 1841, ../sass/main.sass */
  .main .content {
    max-width: 400px;
  }

  /* line 1847, ../sass/main.sass */
  .feature.feature-news .wrap .inner {
    max-width: 360px;
  }
  /* line 1849, ../sass/main.sass */
  .feature.feature-news .wrap .inner .block-dates {
    font-size: 42px;
  }
  /* line 1851, ../sass/main.sass */
  .feature.feature-news .wrap .inner h1 {
    font-size: 42px;
    line-height: 50px;
  }

  /* line 1855, ../sass/main.sass */
  .main .content article {
    width: 100%;
  }

  /* line 1859, ../sass/main.sass */
  .main .content .news-list > div {
    width: 100%;
  }

  /* line 1863, ../sass/main.sass */
  .main .gallery .content article {
    width: 100%;
  }

  /* line 1867, ../sass/main.sass */
  .feature {
    padding-top: 0px;
    position: relative;
    background-color: #141414;
  }

  /* line 1873, ../sass/main.sass */
  .feature-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /* line 1882, ../sass/main.sass */
  .feature-left .feature-info {
    bottom: auto;
    top: 20px;
  }

  /* line 1887, ../sass/main.sass */
  .feature-left .features-left-list {
    display: none;
  }

  /* line 1891, ../sass/main.sass */
  .feature-left .block-title, .feature-left .block-dates {
    font-size: 12px;
    line-height: 18px;
  }

  /* line 1896, ../sass/main.sass */
  .feature-left .block-dates span {
    margin: 3px 6px;
  }

  /* line 1900, ../sass/main.sass */
  .feature-right {
    width: 100%;
    height: auto;
  }

  /* line 1905, ../sass/main.sass */
  .feature-right .feature-picture {
    min-height: 320px;
    height: 50vh;
    opacity: 0.5;
  }

  /* line 1911, ../sass/main.sass */
  .feature-right .feature-description {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  /* line 1919, ../sass/main.sass */
  .feature-right .block-name {
    top: auto;
    bottom: 50px;
    color: white !important;
    width: 100%;
    text-align: center;
    margin: 0px;
  }

  /* line 1928, ../sass/main.sass */
  .feature-right nav {
    bottom: 20px;
    left: 50%;
    margin-left: -17px;
  }

  /* line 1934, ../sass/main.sass */
  .feature-right nav a.dot {
    background-color: white;
  }

  /* line 1938, ../sass/main.sass */
  .feature-right nav a.dot:hover {
    opacity: 0.6;
  }

  /* line 1942, ../sass/main.sass */
  .feature-right nav a.dot.on {
    opacity: 0.6;
  }

  /* line 1946, ../sass/main.sass */
  .feature-right nav a.dot:last-child {
    margin-right: 0px;
  }

  /* line 1950, ../sass/main.sass */
  .block-dates {
    opacity: 1 !important;
  }

  /* line 1954, ../sass/main.sass */
  .block-title {
    color: white !important;
  }

  /* line 1958, ../sass/main.sass */
  .main .content article .inner .block-content {
    background-color: transparent !important;
  }

  /* line 1962, ../sass/main.sass */
  .show {
    padding-top: 0px;
  }

  /* line 1966, ../sass/main.sass */
  .show .left, .show .right {
    padding-top: 50px;
  }

  /* line 1970, ../sass/main.sass */
  .show .right .content {
    max-width: 360px;
  }

  /* line 1974, ../sass/main.sass */
  .show .right .content article {
    width: 100%;
  }

  /* line 1978, ../sass/main.sass */
  .show .article {
    padding-top: 30px;
  }

  /* line 1982, ../sass/main.sass */
  .show .article .block-name {
    font-size: 37px;
    line-height: 43px;
  }

  /* line 1987, ../sass/main.sass */
  .show .article .block-title {
    color: #1a1a1a !important;
  }

  /* line 1991, ../sass/main.sass */
  .show .article .block-info {
    display: block;
    border: 2px solid #f3f3f3;
    overflow: hidden;
    border-bottom: 0px;
    width: auto;
  }

  /* line 1999, ../sass/main.sass */
  .show .article .block-place, .show .article .block-dates {
    border: 0px;
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: center;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* line 2011, ../sass/main.sass */
  .show .article .block-dates {
    border-top: 2px solid #f3f3f3;
  }

  /* line 2015, ../sass/main.sass */
  .show .article .block-show-gallery {
    opacity: 1;
  }

  /* line 2019, ../sass/main.sass */
  .show .article .block-text {
    margin-left: 0px;
  }

  /* line 2023, ../sass/main.sass */
  .show .article .block-text p:first-of-type {
    padding-top: 38px;
  }

  /* line 2027, ../sass/main.sass */
  .show .article .block-text p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  /* line 2033, ../sass/main.sass */
  .show .article .block-text p span {
    margin-top: -38px;
    width: 80px;
    height: 80px;
    font-size: 70px;
    line-height: 76px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  /* line 2043, ../sass/main.sass */
  .search-results {
    padding-top: 50px;
  }

  /* line 2047, ../sass/main.sass */
  footer .content {
    max-width: 400px;
  }

  /* line 2051, ../sass/main.sass */
  footer .content article {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  /* line 2057, ../sass/main.sass */
  footer .content .footer_2 p {
    margin-top: 0px;
  }

  /* line 2061, ../sass/main.sass */
  .loadmore {
    width: 280px;
  }

  /* line 2065, ../sass/main.sass */
  .popup {
    padding: 0px;
  }

  /* line 2069, ../sass/main.sass */
  .popup .prev, .popup .next {
    top: 50%;
    margin-top: -20px;
  }

  /* line 2074, ../sass/main.sass */
  .popup .close:hover, .popup .prev:hover, .popup .next:hover {
    opacity: 1;
  }

  /* line 2078, ../sass/main.sass */
  .popup .container {
    bottom: 0px;
    height: 100% !important;
  }

  /* line 2083, ../sass/main.sass */
  .popup .container .image-container {
    height: 100% !important;
    background-color: black;
  }

  /* line 2088, ../sass/main.sass */
  .popup .container .text-container {
    display: none;
  }
}
/* line 2093, ../sass/main.sass */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #141414;
}

/* line 2108, ../sass/main.sass */
.pace-inactive {
  display: none;
}

/* line 2112, ../sass/main.sass */
.pace .pace-progress {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -moz-transition-property: width;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: width;
  -o-transition-duration: 0.3s;
  -ms-transition-property: width;
  -ms-transition-duration: 0.3s;
  transition-property: width;
  transition-duration: 0.3s;
}
